port {{ openvpn_port }}

proto {{ proto }}
dev tun

ca   ca.crt
cert {{ name }}.crt
key  {{ name }}.key
dh none

--topology subnet
server 10.8.0.0 255.255.255.0

ifconfig-pool-persist /var/log/openvpn/ipp.txt

;push "route 192.168.10.0 255.255.255.0"
;push "route 192.168.20.0 255.255.255.0"

push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 208.67.222.222"
push "dhcp-option DNS 208.67.220.220"

keepalive 10 120

tls-crypt ta.key

cipher AES-256-GCM
auth SHA384

max-clients 100

user nobody
group nobody

persist-key
persist-tun

status /var/log/openvpn/openvpn-status.log

verb 4

;mute 20

explicit-exit-notify 1
;explicit-exit-notify 0
